import type { {{name}}Props } from './{{name}}.types'
import './{{name}}-styles.css'

export function {{name}} ( { value } : {{name}}Props ) {

  return (
    <div className={"{{name}}-container"}>
      <h1>{{name}}</h1>
      <h2>{value}</h2>
    </div>
  )
}